.main--contacto {
    grid-area: main--contacto;
    height: 797px;
}

.hr--superpuesto {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45px;
}

.div--contacto {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    background-color: $blanco;
}

.div--login {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    background-color: $blanco;
}

.parrafo--formulario {
    width: 400px;
    color: $violeta--principal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-right: 1%;
}

.background--blanco{
    background-color: $blanco;
}

.container-xl{
    margin-top: 50px;
    width: 500px;
}

.mb-3{
    label{
        font-size: 18px
    }
}

.g-3{
    label{
        font-size: 18px
    }
}

.accordion-body{
    font-size: 20px;
    img{
        width: 60px;
    }
}
