.footer--grid{
    background-color: rgb(44, 44, 44);
    color: rgb(255, 253, 253);

    .footer--grid2{
        background-color: rgb(44, 44, 44);
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 400px 200px 400px 200px;
        grid-column-gap: 50px;
        justify-content: center;
        
        ul{
            @include no--subrayado;
            margin:0;
            padding:0;
        }

        a{
            @include no--subrayado;
        }

        .footer--logo{
            display: flex;
            justify-content: start;

            .img--logo--footer{
                margin-top: 22px;
                width: 310px;
                height: 70px;
            }
        }

        .footer--redes{
            width: 150px;

            img{
                width: 50px;
                height: 50px;
                }

            ul{
                display: flex;
                justify-content: space-between;
                transition: 0.8s;
                li{
                    :hover{
                        transform: scale(1.10, 1.10);
                    }
                }
            }
        }

        .footer--pago{
            ul{
                display: flex;
                justify-content: space-between;
                transition: 0.8s;
                li{
                    :hover{
                        transform: scale(1.10, 1.10);
                    }
                }
            }
        }

        .footer--info{
            ul{
                display: flex;
                flex-direction: column;

                :hover{
                    color: $violeta--principal;
                }
                
                li{
                    width: 80px;
                    height: 35px;
                }
            }

            p{
                font-size: 20px;
            }

        }
    }
}