.footer--grid{
    grid-area: footer--grid;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 253, 253);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    ul{
        li{
            display: flex;
            font-family: $fuente--principal;
            p{
                font-size: 20px;
                font-family: $fuente--principal;
            }
            img{
                width: 40px;
            };
            h5{
                font-size: 20px;
            }
        }
    }
}

.footer--logo{
    width: 100%;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.img--logo--footer {
    width: 250px;
    height: 50px;
}

.footer--redes{
    width: 25%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li{        
        margin-top: auto;
        margin-bottom: auto;
        transition: 0.2s;
    }
    :hover{
        transform: scale(1.03,1.03);
    }
}