.catalogo{
    margin-top: 1%;
    display: grid;
    justify-items: center;
}

.catalogo--mangas{
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    animation-duration: 1s;
    animation-name: transparencia;
    animation-timing-function: infinite;
}

.manga{   
    @include marginPaddingManga;
    display: flex;
    flex-direction: column;
    a{
        text-decoration: $link--no--subrayado;
    }
}

.manga--imagen{
    img{
        width: $size--manga--width;
        height: $size--manga--height;
        transition: 0.2s;
    }
    :hover{
        transform: scale(1.03,1.03);
    }
}

.manga--titulo{
    h2{
        color: $black--principal;
        width: $size--manga--width;
        max-height: 25px;
        height: 25px;
        font-family: $fuente--principal;
        font-weight: 100;
        padding-bottom: 20px;
        background-color: $fondo--manga;
        text-align: center;
    }
    h5{
        color: $black--principal;
        width: $size--manga--width;
        max-height: 25px;
        height: 25px;
        font-family: $fuente--principal;
        font-weight: 100;
        padding-bottom: 20px;
        background-color: $fondo--manga;
        text-align: center;
    }
}

.encabezado--genero {
    font-family: $fuente--principal;
    color: $blanco;
    background-color: $violeta--principal;
    text-align: center;
    a{
        font-family: $fuente--principal;
        text-decoration: $link--no--subrayado;
        color: $blanco;
    }
    :hover{
        color: $black--principal;
    }
}

.encabezado--index {
    width: 150px;
    @include margin--left--right(auto, auto);
    padding-top: 50px;
    padding-bottom: 25px;
    h2{
        display:inline-block;
        flex-direction:row;
        background-color: $violeta--principal;
        border-radius: 5px;
        border-bottom: 03px solid rgb(58, 58, 197);
        padding: 05px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.encabezado--todos {
    @extend.encabezado--index
}

#banner_hxh {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    animation-duration: 1s;
    animation-name: transparencia;
    animation-timing-function: infinite;
}

.envio--gratis {
    color: map-get($estilo, color);
    background-color: map-get($estilo, back);
    text-align: map-get($estilo, alienText);
    font-size: map-get($estilo, fontSize);
}

.banner-one-piece-1 {
    background-color: rgba(51, 51, 51, 0.048);    
    margin-top: 5%;
    margin-bottom: 5%;   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; 
    h2{
        margin-left: auto;
        margin-right: auto;
        font-size: x-large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(128, 128, 128);
    }
    img{
        height: 100%;
        border-radius: 50px;
        width: 450px ;
    }
}

.catalogo--merchandising{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    animation-duration: 1s;
    animation-name: transparencia;
    animation-timing-function: infinite;
    margin-bottom: 100px;
}
