@mixin marginPaddingManga{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

@mixin margin--left--right($left, $right){
    margin-left: $left;
    margin-right: $right;
}

