$black--principal: rgb(51,51,51);
$black--principal--opaco: rgba(51, 51, 51, 0.534);
$violeta--principal: rgb(132, 132, 230);
$blanco: rgb(255, 255, 255);

$fuente--principal: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$link--no--subrayado: none;

$size--manga--width: 252px;
$size--manga--height: 400px;
$size--merchandising--width: 350px;
$size--merchandising--height: 340px;
$fondo--manga: rgba(0, 0, 0, 0.034);

$hover--texto: url(/imagenes/photoshop/banner--merchan.jpg);