/*media screen*/
@media screen and (max-width:1140px) and (min-width: 768px){
    .catalogo{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1%;
        margin-left: 18%;
        margin-right: 18%;
    }
    
    .catalogo--mangas{
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
        margin-left: 20px;
    }
    .hr--superpuesto{
        display: $link--no--subrayado;
    }
}
/*media screen*/

/*media screen*/
@media screen and (max-width:768px){
    .contenedor--grid{
        display: grid;
        grid-template-areas: /* de esta forma se establece que el body utilizará solo */
       /* una columna, compartida por el header, main y footer */
            "header--grid"
            "main--grid"
            "footer--grid";
        grid-template-columns: 100%; /* la columna utilizará el 100% de la pantalla */
        grid-template-rows: auto auto auto; /* se establecerá la medida de cada una de las filas */
    }

    /*header*/
    .header--grid{
        display: flex;
        background-color: $black--principal;
        background-size: cover;
        grid-area: header--grid;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .header--logo{
        margin: auto
    }

    .header--logo img{
        max-width: 300px;
    }

    .header--encabezado{
        font-size:22px;
        font-family: $fuente--principal;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .encabezado--enlaces{
        display: flex;
        list-style: $link--no--subrayado;
        justify-content: space-around;
        margin-left: 50px;
        margin-right: auto;
        flex-wrap: wrap;
    }

    .encabezado--enlaces a{
        text-decoration: $link--no--subrayado;
        color: $blanco;
    }

    .encabezado--link{
        color: $violeta--principal;
        padding: 10px;
        margin-right: 50px;
        flex-direction: row;
    }

    .encabezado--enlaces a:hover{
        color: $violeta--principal;
    }
    /*header*/
    
    /*main*/ 
    .catalogo--mangas{
        width: 70%;
    }

    .banner-one-piece-1 img {
        height: 100%;
        border-radius: 50px;
        width: 100% ;
    }
    /*main*/

    /*footer*/
    .footer--grid{
        justify-content: center;
        ul p{
            text-align: center;
        }    
    }

    .img--logo--footer{
        position: relative;
        top: 0%;
    }
    /*footer*/
}
/*media screen*/

/*media screen*/
@media screen and (max-width:1140px) and (min-width: 768px){
    .contenedor--grid--contacto{
        display: grid;
        grid-template-areas: /* de esta forma se establece que el body utilizará solo */
       /* una columna, compartida por el header, main y footer */
            "header--grid"
            "main--contacto"
            "footer--grid";
        grid-template-columns: 100%; /* la columna utilizará el 100% de la pantalla */
        grid-template-rows: auto auto auto; /* se establecerá la medida de cada una de las filas */
    }

    .contenedor--grid{
        display: grid;
        grid-template-areas: /* de esta forma se establece que el body utilizará solo */
       /* una columna, compartida por el header, main y footer */
            "header--grid"
            "main--grid"
            "footer--grid";
        grid-template-columns: 100%; /* la columna utilizará el 100% de la pantalla */
        grid-template-rows: auto auto auto; /* se establecerá la medida de cada una de las filas */
    }

    .catalogo{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1%;
        margin-left: 18%;
        margin-right: 18%;
    }
    
    .catalogo--mangas{
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
        margin-left: 20px;
    }
    .hr--superpuesto{
        display: $link--no--subrayado;
    }

    .footer--grid{
        justify-content: center;
    }
}
/*media screen*/

/*media screen contacto*/
@media screen and (max-width:768px){
    .contenedor--grid--contacto{
        display: grid;
        grid-template-areas: /* de esta forma se establece que el body utilizará solo */
       /* una columna, compartida por el header, main y footer */
            "header--grid"
            "main--contacto"
            "footer--grid";
        grid-template-columns: 100%; /* la columna utilizará el 100% de la pantalla */
        grid-template-rows: auto auto auto; /* se establecerá la medida de cada una de las filas */
    }

    .main--contacto{
        background-color: $black--principal;
        height: auto;
    }

    .contacto{
        justify-content: center;
    }

    .div--contacto{
        display: $link--no--subrayado;
    }

    .hr--superpuesto{
        display: $link--no--subrayado;
    }    

    .formulario{
        color: $violeta--principal;
    }
}
/*media screen*/

/*media screen - 993*/
@media screen and (max-width:993px){
    .catalogo{
        width: 80%;
    }
    .catalogo--mangas{
        width: 100%;
    }
}