@charset "UTF-8";
.fondo-nav {
  background-color: rgb(51, 51, 51);
}

.h6-no-margin {
  margin: 0;
}

.font--nav {
  font-size: medium;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(51, 51, 51);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  background-color: rgb(221, 221, 221);
}

.contenedor--grid {
  display: grid;
  grid-template-areas: "header--grid" "main--grid" "footer--grid";
  grid-template-columns: 100%; /* la columna utilizará el 100% de la pantalla */
  grid-template-rows: 75px auto 135px; /* se establecerá la medida de cada una de las filas */
}

.contenedor--grid--contacto {
  display: grid;
  grid-template-areas: "header--grid" "main--contacto" "footer--grid";
  grid-template-columns: 100%; /* la columna utilizará el 100% de la pantalla */
  grid-template-rows: 75px 760px 102px; /* se establecerá la medida de cada una de las filas */
}

.contenedor--grid--register {
  display: grid;
  grid-template-areas: "header--grid" "main--contacto" "footer--grid";
  grid-template-columns: 100%; /* la columna utilizará el 100% de la pantalla */
  grid-template-rows: 75px 760px 102px; /* se establecerá la medida de cada una de las filas */
}

.header--grid {
  display: flex;
  background-color: rgb(51, 51, 51);
  background-size: cover;
  grid-area: header--grid;
  align-items: center;
  width: auto;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.header--logo {
  margin: 5%;
}
.header--logo img {
  max-width: 300px;
}

.header--encabezado, .navbar-nav a {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.encabezado--enlaces {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: auto;
  flex-wrap: wrap;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transparencia;
          animation-name: transparencia;
  -webkit-animation-timing-function: infinite;
          animation-timing-function: infinite;
}
.encabezado--enlaces a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}
.encabezado--enlaces a :hover {
  color: rgb(132, 132, 230);
}

.dropdown-menu {
  background-color: rgb(132, 132, 230);
  font-size: large;
}
.dropdown-menu a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  transition: 0.2s;
}
.dropdown-menu :hover {
  color: rgb(132, 132, 230);
}

.encabezado--link {
  color: rgb(132, 132, 230);
  padding: 10px;
  margin-right: 50px;
  flex-direction: row;
}

.btn-outline-success {
  color: rgb(132, 132, 230);
  border-color: rgb(132, 132, 230);
}

.btn:hover {
  background-color: rgb(132, 132, 230);
  border-color: rgb(132, 132, 230);
}

.background--black {
  background-color: rgb(51, 51, 51);
}

.nav-item button {
  color: rgb(132, 132, 230);
  border-radius: 0%;
  border: none;
}

.margin {
  margin-left: 20px;
}

.catalogo {
  display: grid;
  justify-items: center;
}

.catalogo--mangas {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transparencia;
          animation-name: transparencia;
  -webkit-animation-timing-function: infinite;
          animation-timing-function: infinite;
}

.manga {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.manga a {
  text-decoration: none;
}

.manga--imagen img {
  width: 252px;
  height: 400px;
  transition: 0.2s;
}
.manga--imagen :hover {
  transform: scale(1.03, 1.03);
}

.manga--titulo h2 {
  color: rgb(51, 51, 51);
  width: 252px;
  max-height: 25px;
  height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.034);
  text-align: center;
}
.manga--titulo h5 {
  color: rgb(51, 51, 51);
  width: 252px;
  max-height: 25px;
  height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.034);
  text-align: center;
}

.encabezado--genero {
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(132, 132, 230);
  text-align: center;
}
.encabezado--genero a {
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}
.encabezado--genero :hover {
  color: rgb(51, 51, 51);
}

.encabezado--index, .encabezado--todos {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.encabezado--index h2, .encabezado--todos h2 {
  display: inline-block;
  flex-direction: row;
  background-color: rgb(132, 132, 230);
  border-radius: 5px;
  border-bottom: 3px solid rgb(58, 58, 197);
  padding: 5px;
}

#banner_hxh {
  width: 100%;
  height: 100%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transparencia;
          animation-name: transparencia;
  -webkit-animation-timing-function: infinite;
          animation-timing-function: infinite;
}

.envio--gratis {
  color: rgb(255, 255, 255);
  background-color: rgb(132, 132, 230);
  text-align: center;
  font-size: large;
}

.banner-one-piece-1 {
  background-color: rgba(51, 51, 51, 0.048);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.banner-one-piece-1 h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(128, 128, 128);
}
.banner-one-piece-1 img {
  height: 100%;
  border-radius: 50px;
  width: 450px;
}

.catalogo--merchandising {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transparencia;
          animation-name: transparencia;
  -webkit-animation-timing-function: infinite;
          animation-timing-function: infinite;
  margin-bottom: 100px;
}

.btn-wsp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50px;
}
.btn-wsp img {
  width: 50px;
  height: 50px;
}

.mapa {
  width: 100%;
  height: 600px;
}

.container-sm {
  width: 100%;
}

.sm-col {
  padding-bottom: 50px;
}

.margin-50-top {
  margin-top: 50px;
}

.footer--grid {
  background-color: rgb(44, 44, 44);
  color: rgb(255, 253, 253);
}
.footer--grid .footer--grid2 {
  background-color: rgb(44, 44, 44);
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 400px 200px 400px 200px;
  grid-column-gap: 50px;
  justify-content: center;
}
.footer--grid .footer--grid2 ul {
  list-style: none;
  text-decoration: none;
  color: rgb(221, 221, 221);
  margin: 0;
  padding: 0;
}
.footer--grid .footer--grid2 a {
  list-style: none;
  text-decoration: none;
  color: rgb(221, 221, 221);
}
.footer--grid .footer--grid2 .footer--logo {
  display: flex;
  justify-content: start;
}
.footer--grid .footer--grid2 .footer--logo .img--logo--footer {
  margin-top: 22px;
  width: 310px;
  height: 70px;
}
.footer--grid .footer--grid2 .footer--redes {
  width: 150px;
}
.footer--grid .footer--grid2 .footer--redes img {
  width: 50px;
  height: 50px;
}
.footer--grid .footer--grid2 .footer--redes ul {
  display: flex;
  justify-content: space-between;
  transition: 0.8s;
}
.footer--grid .footer--grid2 .footer--redes ul li :hover {
  transform: scale(1.1, 1.1);
}
.footer--grid .footer--grid2 .footer--pago ul {
  display: flex;
  justify-content: space-between;
  transition: 0.8s;
}
.footer--grid .footer--grid2 .footer--pago ul li :hover {
  transform: scale(1.1, 1.1);
}
.footer--grid .footer--grid2 .footer--info ul {
  display: flex;
  flex-direction: column;
}
.footer--grid .footer--grid2 .footer--info ul :hover {
  color: rgb(132, 132, 230);
}
.footer--grid .footer--grid2 .footer--info ul li {
  width: 80px;
  height: 35px;
}
.footer--grid .footer--grid2 .footer--info p {
  font-size: 20px;
}

.main--contacto {
  grid-area: main--contacto;
  height: 797px;
}

.hr--superpuesto {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 45px;
}

.div--contacto, .div--preguntas, .div--login {
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(221, 221, 221);
  width: 200px;
}

.div--login {
  width: 300px;
}

.div--preguntas {
  background-color: rgba(51, 51, 51, 0.048);
  width: 100%;
}

.parrafo--formulario {
  width: 400px;
  color: rgb(132, 132, 230);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  text-align: justify;
  margin-right: 1%;
}

.background--blanco {
  background-color: rgb(221, 221, 221);
}

.container-xl {
  margin-top: 50px;
  width: 500px;
}

.mb-3 label, .g-3 label {
  font-size: 18px;
}

.accordion-body {
  font-size: 20px;
}
.accordion-body img {
  width: 60px;
}

@-webkit-keyframes transparencia {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transparencia {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*media screen*/
@media screen and (min-width: 817px) and (max-width: 1180px) {
  .contenedor--grid {
    display: grid;
    grid-template-areas: "header--grid" "main--grid" "footer--grid";
    grid-template-columns: 100%;
    grid-template-rows: 75px auto auto;
  }
  .catalogo {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalogo--mangas {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .hr--superpuesto {
    display: none;
  }
}
/*media screen*/
/*media screen*/
@media screen and (max-width: 992px) {
  .contenedor--grid {
    display: grid;
    grid-template-areas: "header--grid" "main--grid" "footer--grid";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .header--logo {
    margin: auto;
  }
  .hr--superpuesto {
    display: none;
  }
  .main--contacto {
    background-color: rgb(51, 51, 51);
  }
  .div--contacto, .div--login, .div--preguntas {
    background-color: rgb(51, 51, 51);
    color: rgb(221, 221, 221);
  }
  .div--login {
    background-color: rgb(51, 51, 51);
    color: rgb(221, 221, 221);
  }
  .col label {
    color: rgb(221, 221, 221);
  }
}
/*media screen*/
@media screen and (max-width: 715px) {
  .parrafo--formulario {
    margin: auto;
  }
  .parrafo--formulario h1, .parrafo--formulario p {
    text-align: center;
  }
}
/*media screen*/
@media screen and (max-width: 816px) {
  .catalogo {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalogo--mangas {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*media screen*/
/*media screen contacto--registro*/
@media screen and (max-width: 992px) {
  .contenedor--grid--contacto {
    display: grid;
    grid-template-areas: "header--grid" "main--contacto" "footer--grid";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .contenedor--grid--register {
    display: grid;
    grid-template-areas: "header--grid" "main--contacto" "footer--grid";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    background-color: rgb(51, 51, 51);
  }
  .merchandising {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }
  .merchandising .merchandising--imagen {
    width: 100%;
    width: 350px;
    height: 340px;
  }
  .merchandising .merchandising--titulo {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.034);
    position: relative;
    top: 10px;
  }
  .merchandising .merchandising--titulo a {
    text-decoration: none;
  }
  .merchandising .merchandising--titulo h5 {
    color: rgb(51, 51, 51);
    width: 350px;
    height: 340px;
    max-height: 25px;
    height: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
    text-align: center;
  }
  .container-xl {
    margin-bottom: 50px;
  }
  .parrafo--formulario {
    width: 700px;
  }
}
/*media screen contacto*/
@media screen and (max-width: 540px) {
  .banner-one-piece-1 {
    justify-content: center;
  }
  .banner-one-piece-1 img {
    width: 100%;
  }
  .banner-one-piece-1 h2 {
    text-align: center;
    font-size: 20px;
  }
  .encabezado--todos {
    width: 190px;
  }
  .merchandising {
    width: 300px;
    height: 300px;
    padding: 0;
  }
  .merchandising .merchandising--imagen {
    padding: 0;
    padding-right: 20px;
  }
  .merchandising .merchandising--imagen img {
    width: 300px;
    height: 300px;
  }
  .merchandising .merchandising--titulo {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.034);
    position: relative;
    top: 0px;
    width: 300px;
  }
  .merchandising .merchandising--titulo a {
    text-decoration: none;
  }
  .merchandising .merchandising--titulo h5 {
    color: rgb(51, 51, 51);
    width: 300px;
    height: 300px;
    max-height: 25px;
    height: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 893px) {
  .banner-one-piece-1 {
    justify-content: center;
  }
  .banner-one-piece-1 img {
    border-radius: 5%;
  }
}
@media screen and (max-width: 375px) {
  .merchandising {
    width: 300px;
    padding: 0;
  }
  .merchandising .merchandising--imagen {
    width: 300px;
    height: 300px;
  }
  .merchandising .merchandising--imagen img {
    width: 300px;
    height: 300px;
  }
  .merchandising .merchandising--titulo {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.034);
    position: relative;
    top: 0px;
    width: 280px;
  }
  .merchandising .merchandising--titulo a {
    text-decoration: none;
  }
  .merchandising .merchandising--titulo h5 {
    color: rgb(51, 51, 51);
    width: 300px;
    height: 300px;
    max-height: 25px;
    height: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
    text-align: center;
  }
  .background--black {
    justify-content: end;
  }
  .background--black li a button {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
@media screen and (min-width: 992px) and (max-width: 2000px) {
  .merchandising {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }
  .merchandising .merchandising--imagen {
    width: 100%;
    width: 350px;
    height: 340px;
  }
  .merchandising .merchandising--titulo {
    text-align: center;
    position: absolute;
    transition: all 0.3s;
    transform: scale(1);
    opacity: 0;
    border-radius: 5px;
  }
  .merchandising .merchandising--titulo a {
    text-decoration: none;
  }
  .merchandising .merchandising--titulo h5 {
    color: rgb(221, 221, 221);
    width: 350px;
    height: 340px;
    line-height: 36rem;
  }
  .merchandising:hover .merchandising--titulo {
    transform: scale(1);
    opacity: 0.8;
    background-image: url(https://i.ibb.co/xmNZ19f/banner-merchan.png);
    background-color: rgba(51, 51, 51, 0.534);
  }
}
@media screen and (max-width: 1380px) {
  .footer--grid .footer--grid2 {
    grid-template-columns: 300px 300px;
    grid-column-gap: 90px;
    grid-row-gap: 40px;
  }
  .footer--grid .footer--info h3 {
    width: 100px;
  }
}
@media screen and (max-width: 730px) {
  .footer--grid .footer--grid2 {
    grid-template-columns: 100px;
    justify-content: start;
  }
}
@media screen and (max-width: 770px) {
  .contenedor--grid--contacto {
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-areas: "header--grid" "main--contacto" "footer--grid";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .container .row {
    flex-direction: column;
  }
  .container-xl {
    width: 370px;
  }
  .parrafo--formulario {
    width: 350px;
  }
}/*# sourceMappingURL=styles.css.map */